.one {
  background: aquamarine;
  /* width: 100px; */
  /* height: 500px; */
  min-height: 100px;
  max-width: 500px;
  /* overflow: hidden; */
  /* width: 50%; inherit from parent */
  /* word-break: break-all; break each word */
}

.two {
  background: lightcoral;
}
